.button {
    @include padding(20px);
    @include margin(0 0 20px);    
    @include border-radius(10px);    
    @include box-shadow(0px 5px 0px 0px rgba(66, 62, 62, 0.38));
    
  &--primary {
    background-color: $bg-button-primary;
    color: $white;

    &:hover {
      background-color: lighten($bg-button-primary, 10%);
    }
  }

  &--secondary {
    background-color: $bg-button-secondary;
    color: $white;

    &:hover {
      background-color: lighten($bg-button-secondary, 10%);
    }
  }
}
