//--- Global Varibales

// Define font family
$body-font-famaily: 'Inter', sans-serif;

// Define Main app container

$main-app-container-pos-relative: relative;
$main-app-container-height: 100vh;
$main-app-container-gridgap: 50px;

//--- Local Varibales

//--- Intro

$intro-herounit-pos: relative;
$intro-herounit-height: 100vh;
$intro-herounit-gap: 50px;
$intro-herounit-content-text-color: $white;