//--- Global Varibales

// Define font family
$body-font-famaily: 'Inter', sans-serif;

//--- Local Varibales

//--- Intro

$intro-herounit-pos: relative;
$intro-herounit-height: 100vh;
$intro-herounit-gap: 50px;
$intro-herounit-content-text-color: $white;